/* Normalizing the html */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    /* Font and default colors */
    --default-font: 'Lato', sans-serif;
}

body{
    background-color: whitesmoke;
}


.project h1{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: 300;
}

.project h2{
    font-weight: 200;
}



.project-container{
    font-family: var(--default-font);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100vw;
    margin: 0 auto;
}

.project{
    width: 50%;
    background-color: rgba(220, 220, 220, 90);
    border: 0.15px solid rgba(0, 0, 0, 15%);
    padding: 20px;
}


.project:hover{
    background-color: rgba(255, 255, 255, 90);
}

.singular-project{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.link-container{
    margin-top: 30px;
}

.link-container button {
    position: relative;
    z-index: 1;   
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    font-family: var(--default-font);
    letter-spacing: var(--letterSpacing);
    border: solid 0.40px rgba(0, 0, 0, 10%);
    cursor: pointer;
    transition: 500ms; 
    font-weight: bold;
}

.link-container button::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms ease-in-out;
}

.liveLink::before{
    background-color: #0AF;
}

.githubLink::before{
    background-color: rgb(229, 111, 14);
}

.link-container button:hover::before{
    transform: scaleX(1);
}  


.link-container button:hover{
    color: whitesmoke;
}

@media screen and (max-width: 800px) {
    .project{
        width: 100%;
    }
  }
